name: Test 'cu128-megapak-pt28' from Docker Hub

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Publish 'cu128-megapak-pt28' to Docker Hub"]
    types:
      - completed

jobs:
  test-image-cu128-megapak-pt28:
    runs-on: ubuntu-latest
    steps:
      - name: Move Docker data-root to /mnt
        run: |
          sudo systemctl stop docker

          sudo mkdir -p /mnt/docker
          sudo mkdir -p /etc/docker

          cat /etc/docker/daemon.json || true

          sudo tee /etc/docker/daemon.json > /dev/null <<'EOF'
          {
            "data-root": "/mnt/docker"
          }
          EOF

          sudo systemctl restart docker
          docker info | grep "Docker Root Dir"

      - name: Pull image from Docker Hub
        run: docker pull docker.io/yanwk/comfyui-boot:cu128-megapak-pt28

      - name: Show container environment variables
        run: |
          docker run --rm \
            --name show-env \
            docker.io/yanwk/comfyui-boot:cu128-megapak-pt28 \
            env

      - name: Run container with quick-test
        run: |
          docker run --rm \
            --name comfyui-quick-test \
            -e CLI_ARGS="--quick-test-for-ci --cpu" \
            docker.io/yanwk/comfyui-boot:cu128-megapak-pt28
